[Unit]
Description=Automatically compile Catacomb packages

[Service]
Type=simple
User=rock
ExecStart=/home/rock/packaging/arch/update_db.sh /mnt/zfast/repo/arch/aarch64/catacomb.db.tar.gz /home/rock/packaging/arch christianduerr.com:/home/alarm/repo

[Install]
WantedBy=multi-user.target
